<div class="section-container">
    <h2>Overview of all time registration entries</h2>
    <table class="table table-inverse table-hover">
        <thead class="thead-light">
            <tr>
                <th>Customer</th>
                <th>Project</th>
                <th>Time registered</th>
                <th>Total time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let entry of overviewEntries">
                <td>{{ entry.timeInput.customerName }}</td>
                <td>{{ entry.timeInput.projectName }}</td>
                <td>{{ entry.timeInput.timeSpent }}</td>
                <td>{{ entry.totalTime }}</td>
            </tr>
        </tbody>
    </table>
</div>
